@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  margin-bottom: 50px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  body {
    overflow: visible;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
